// Here you can add other styles
.esignature-canvas {
  margin: 4px;
  canvas {
    height: 180px;
  }
  svg, img {
    max-width: 100%;
    max-height: 180px;
  }
}

@media screen and (max-width: 600px) {
  .esignature-canvas {
    margin: 4px;
    canvas {
      height: 250px;
    }
    svg, img {
      max-width: 100%;
      max-height: 250px;
    }
  }
}

.brand-container {
  background-color: white !important;
}

.c-avatar-img {
  overflow: hidden;
}
body {
  background-color: black;
  opacity: 0.8;
}

.c-main {
  padding-top: 8px !important;
}

.card {
  margin-bottom: 8px !important;
}

.container-fluid {
  padding-right: 10px !important;
  padding-left: 10px !important;
}

.clickArrow {
  animation: arrowMove 1s infinite ease;
}

@keyframes arrowMove {
  from {
    color: black;
    transform: translateX(-5px);
  }
  to {
    color: red;
    transform: translateX(-10px);
  }
}
