// If you want to override variables do it here
@import "variables";

// Import CoreUI styles
@import "~@coreui/coreui/scss/coreui.scss";

// Some temp fixes
@import "fixes";

// If you want to add something do it here
@import "custom";

.pdfHtml {
  img {
    max-width: 100%;
    //object-fit: contain;
  }
  h1 {
    margin: 0
  }
}
.modal-loading  {
  .modal-content {
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}